<% content_for :title, "Editing user" %>

<h1 class="text-xl font-bold w-3/4 mx-auto my-4">Edit User</h1>
<%= form_with(model: @user, class:'w-3/4 mx-auto my-4' ) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :username, class: 'inline-block text-sm text-neutral-950 font-semibold' %>
    <%= form.text_field :username, class: 'rounded focus:shadow-inner text-black border-gray-800 w-full block' %>
  </div>
  <% if can? :edit_role, @user %>
    <div class="mb-4">
      <%= form.label :role, class: 'inline-block text-sm text-neutral-950 font-semibold' %>
      <%= form.select :role, options_for_select(User.roles.map {|k, v| [k.titleize, k]}, @user.role), {}, class: 'rounded focus:shadow-inner border-gray-800 text-black w-full block' %>
    </div>
  <% end %>
  <div>
    <%= form.submit 'Update User', class: 'py-2 px-4 text-black border rounded border-gray-800 hover:cursor-pointer hover:shadow-inner' %>
  </div>
<% end %>

<%= form_with(model: @user, class:'w-3/4 mx-auto my-4' ) do |form| %>
  <div class="mb-4">
    <%= form.label :password, class: 'inline-block text-sm text-neutral-950 font-semibold' %>
    <%= form.password_field :password, class: 'rounded focus:shadow-inner border-gray-800 text-black w-full block' %>
  </div>

  <div class="mb-4">
    <%= form.label :password_confirmation, class: 'inline-block text-sm text-neutral-950 font-semibold' %>
    <%= form.password_field :password_confirmation, class: 'rounded focus:shadow-inner border-gray-800 text-black w-full block' %>
  </div>

  <div>
    <%= form.submit 'Update Password', class: 'py-2 px-4 text-black border rounded border-gray-800 hover:cursor-pointer hover:shadow-inner' %>
  </div>
<% end %>

