<%= form_with(model: training_resource, class:'w-3/4 mx-auto' ) do |form| %>
  <% if training_resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(training_resource.errors.count, "error") %> prohibited this training_resource from being saved:</h2>

      <ul>
        <% training_resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class: 'inline-block text-sm' %>
    <%= form.text_field :title, class: 'rounded focus:shadow-inner border-gray-800 w-full block' %>
  </div>

  <div class="mb-4">
    <%= form.file_field :featured_image %>
  </div>

  <div class="mb-4">
    <%= form.label :author, class: 'inline-block text-sm' %>
    <%= form.text_field :author, class: 'rounded focus:shadow-inner border-gray-800 w-full block' %>
  </div>

  <div class="mb-4">
    <%= form.label :short_description, class: 'inline-block text-sm' %>
    <%= form.text_field :short_description, class: 'rounded focus:shadow-inner border-gray-800 w-full block' %>
  </div>

  <div class="mb-4">
    <%= form.label :long_description, class: 'inline-block text-sm' %>
    <%= form.text_field :long_description, class: 'rounded focus:shadow-inner border-gray-800 w-full block' %>
  </div>

  <div class="mb-4">
    <%= form.fields_for :tags, Tag.new do |tag_field| %>
      <%= tag_field.label :name, 'New Tag', class: 'inline-block text-sm' %>
      <%= tag_field.text_field :name, class: 'rounded focus:shadow-inner border-gray-800 w-full block' %>
    <% end %>

    <div class="grid grid-cols-3">
      <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :titlized_name do |b| %>
        <div>
          <%= b.check_box class: 'rounded border-gray-800' %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit class: 'py-2 px-4 border rounded border-gray-800 hover:cursor-pointer hover:shadow-inner' %>
  </div>
<% end %>
