<div id="<%= dom_id training_resource %>">
  <p>
    <strong>Author:</strong>
    <%= training_resource.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= training_resource.title %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= training_resource.short_description %>
  </p>

  <p>
    <strong>Long description:</strong>
    <%= training_resource.long_description %>
  </p>

</div>
