<div data-controller="training-resources">

  <% content_for :title, "Training resources" %>

  <div class="flex justify-between mx-2">
    <h1 class="text-4xl font-extrabold">Training resources</h1>
    <% if can? :create, TrainingResource %>
      <%= link_to(
        'New Training Resource',
        new_training_resource_path,
        class: 'p-2 border hover:shadow-inner rounded border-gray-800'
      ) %>
    <% end %>
  </div>
  <div class="flex justify-between my-6 mx-2">
    <%= select_tag(
      :pagination,
      options_for_select([8, 16, 32], @per_page),
      {
        'data-pagination-target': "select",
        'data-controller': "pagination",
        'data-action': "change->pagination#setCount",
        class: 'rounded border-gray-800'
      }
    ) %>

    <div data-controller="search">
      <%= form_tag('', 'data-action': "submit->search#submit") do %>
        <%= search_field_tag(:search, params[:search], {'data-search-target': "input", class: 'rounded focus:shadow-inner border-gray-800'}) %>
        <%= button_tag('Search', class: 'p-2 border hover:shadow-inner rounded border-gray-800') %>
      <% end %>
    </div>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <% @training_resources.each do |training_resource| %>
      <%= link_to((render training_resource), training_resource)%>
    <% end %>
  </div>
  <div class="my-6" data-controller="pagination">
    <%= first_pagination_button(@page) %>
    <%= previous_pagination_button(@page) %>
    <%= next_pagination_button(@page, @max_number) %>
    <%= last_pagination_button(@page, @max_number) %>
  </div>
</div>