<p style="color: green"><%= notice %></p>

<div class="flex gap-4 m-2">
  <%= link_to "Back", training_resources_path, class: '' %>
  <%= link_to "Edit", edit_training_resource_path(@training_resource), class: '' %>
  <%= button_to "Delete", @training_resource, method: :delete, class: '' %>
</div>
<div class="mb-5">
  <h1 class="text-5xl font-bold">
    <%= @training_resource.title %>
  </h1>
  <p>
    <%= @training_resource.author %>
  </p>
  <%= youtube_iframe(@training_resource.youtube_video_id) %>
  <div class="flex gap-4">
    <% @training_resource.tags.each do |tag| %>
      <div class="px-2 py-1 rounded text-xs bg-gray-800 text-white"><%= tag.name.titleize %></div>
    <% end %>
  </div>
</div>
<p>
  <%= @training_resource.long_description %>
</p>